* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    font-family: 'DM Sans';
}

body {
    background-image: url('./assets/Body_background_photo.png');
    background-repeat: no-repeat;
    background-color: #F2F2F2;
    background-size: 100% 15%;
    margin: 0;
    padding: 0;
}

.responsive-menu {
    display: none;
}

.burger-menu {
    display: none;
    left: 0;
    flex-direction: column;
    list-style-type: none;
    justify-content: start;
    background-color: #7881fa;
    color: #F2F2F2;
    max-width: 300px;
    height: 300px;
    box-shadow: 4px 4px 4px rgba(31, 73, 125, 0.8);
    position: absolute;
    min-width: 200px;
    text-align: center;
    z-index: 1;
}

.burger-menu__item {
    margin-top: 20px;
}

#trigger {
    visibility: hidden;
}

.logo {
    display: flex;
    gap: 5px;
}

.logo__txt {
    color: white;
    font-size: 25px;
    cursor: pointer;
    text-transform: uppercase;
    font-weight: 500;
    padding-top: 10px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 33px;
    padding-left: 2.5%;
    max-width: 95%;
}

.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    gap: 32px;
}

.menu__item {
    color: white;
    font-size: 16px;
    gap: 32px;
    cursor: pointer;
    font-weight: 500;
}

.button {
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 148%;
    letter-spacing: 0.02em;
    text-transform: uppercase;
    background-color: white;
    color: #57B3FE;
    height: 50px;
    border: none;
    border-radius: 60px;
    width: 194px;
}

.component {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.component__title {
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 122%;
}

.component__subtitle {
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 122%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    opacity: 0.5;
}

.component__description {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
}

.component__title--hero {
    padding-top: 56px;
    font-weight: 500;
    font-size: 68px;
    color: white;
    text-align: center;
}

.component__description--hero {
    padding-top: 8px;
    padding-bottom: 41px;
    color: white;
    opacity: 0.8;
    text-align: center;
}

.dashboard-img {
    padding-top: 106px;
    padding-bottom: 200px;
    max-width: 1210px;
    width: 100%;
}

.component--help {
    background-image: url(./assets/what-you-need-bg.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.component__subtitle--help {
    color: #00A077;
    padding-bottom: 24px;
}

.component__title--help {
    max-width: 528px;
    padding-bottom: 32px;
}

.component-wrapper {
    max-width: 1200px;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    padding-bottom: 184px;
    max-width: 1200px;
    width: 100%;
    justify-content: center;
}

.cards__base--small {
    max-width: 370px;
    height: 335px;
}

.cards__base {
    background: #FFFFFF;
    box-shadow: 0px 20px 50px rgba(59, 62, 67, 0.05);
    border-radius: 15px;
}

.cards__icon {
    margin: 50px 0px 20px 41px;
    width: 50px;
    height: 50px;
    box-shadow: 0px 10px 20px rgba(197, 158, 145, 0.1);
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cards__icon--orange {
    background: #FFE7DB;
}

.cards__icon--green {
    background: #E7F2EF;
}

.cards__icon--yellow {
    background: #FAF3D8;
}

.cards__icon--mint {
    background: #C0F2EF;
}

.cards__icon--purple {
    background: #EDE7F2;
}

.cards__icon--blue {
    background: #D8F0FA;
}

.cards__icon--lavender {
    background: #DAE6FF;
}

.cards {
    display: flex;
    flex-wrap: wrap;
}

.image-start {
    max-width: 40%;
}

.cards__title {
    width: 210px;
    height: 30px;
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 30px;
    color: #3B3E43;
    margin-left: 41px;
}

.cards__description {
    font-style: normal;
    font-size: 16px;
    line-height: 24px;
    color: #595E64;
    margin: 20px 20px 0px 41px;
}

.component--process {
    background-image: url('./assets/Process_bg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.component__subtitle--process {
    padding-top: 194px;
}

.component__title--process {
    color: white;
    text-align: center;
}

.component__subtitle--process {
    color: white;
    margin-bottom: 14px;
}

.component__description--process {
    margin-top: 24px;
    color: white;
    max-width: 718px;
    text-align: center;
}

.cards__base--large {
    min-height: 323px;
    display: flex;
    padding: 28px;
    max-width: 1200px;
    margin: 0px 40px;
}

.process-image {
    width: 45%;
}

.cards__description--process {
    max-width: 530px;
}

.cards--process {
    gap: 40px;
}

.brands-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 112px;
    row-gap: 50px;
    max-width: 1200px;
}

.brands-container>img {
    width: 144px;
    height: 56px;
    display: block;

}


.component__title--brands {
    color: #3B3E43;
    max-width: 897px;
    text-align: center;
    padding-top: 24px;
    padding-bottom: 32px;
}

.component__subtitle--brands {
    color: #00A077;
}

.component__description--brands {
    padding-top: 32px;
    color: #424A4D;
    font-size: 16px;
    max-width: 381px;
    text-align: center;
    margin-bottom: 184px;
}

.component--brands {
    padding-top: 184px;
}

.component--start {
    background-image: url('./assets/Start-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 151px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 132px;
    padding-bottom: 134px;
}

.text-context {
    justify-content: start;
    max-width: 417px;
}

.component__subtitle--start {
    color: white;
    margin-bottom: 24px;
}

.component__title--start {
    color: white;
    margin-bottom: 24px;
}

.component__description--start {
    color: white;
    margin-bottom: 30px;
}

.footer {
    background-color: #0D0D0D;
    padding: 84px 15px 35px 15px;
    display: flex;
    justify-content: center;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__divider {
    height: 1px;
    opacity: 0.35;
    border: none;
    border-top: 1px solid #FFFFFF;
    box-sizing: border-box;
    margin-top: 39px;
    padding-bottom: 28px;
    max-width: 1200px;
}

.footer__description {
    color: rgba(255, 255, 255, 0.8);
    font-size: 15px;
}

.footer__bottom {
    display: flex;
    justify-content: space-between;
}

.footer__settings {
    display: flex;
    gap: 20px;
}

.logo--footer {
    width: 176px;
}

.logo__txt--footer {
    font-size: 20px;
}

.logo__image--footer {
    width: 71px;
}

.social-media {
    display: flex;
    gap: 20px;
}

@media screen and (max-width: 1200px) {
    .menu {
        display: none;
    }

    .button--burger {
        display: none;
    }

    .component__subtitle--help {
        margin-left: 17%;
    }

    .component__title--help {
        margin-left: 17%;
    }

    .cards__base--large {
        max-width: 95%;
        flex-direction: column;
    }

    .process-image {
        margin-left: 35px;
    }

    .responsive-menu {
        display: block;
    }

    .burger-menu-icon {
        margin-left: 20px;
        width: 50px;
        color: white;
        cursor: pointer;
    }

    #trigger:checked~.burger-menu {
        display: block;
    }

    .burger-menu:hover {
        display: block;
        opacity: 1;
    }

    @media screen and (max-width: 600px) {
        .button--header {
            display: none;
        }

        .button--burger {
            display: block;
            margin-top: 30px;
            border-radius: 0px;
            width: 200px;
        }

        .burger-menu {
            height: 325px;
        }

        .header {
            flex-direction: column;
        }
    }
}